/********************
 * Grid styles
 ********************/
#rePresent-slides-index-grid-rect {
  fill:none;
}

#rePresent-slides-index-grid use {
	stroke-width:2px;
	stroke:#ccc;
}

#rePresent-slides-index-grid .selected {
  stroke:red;
}